        html{
            background-color: #EBEBEB;
        }
        body{
            margin:0;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        .menu, .nextLevel{
            position: fixed;
            display: none;
            width:100%;
            height: 100%;
            z-index: 4;
            background-color: #EBEBEB;
            padding:30px 0;
            line-height: 1.15em;
            font-size:35px;
            font-weight:bolder;
            text-align: center;
            color:#00541E;
            cursor:default;
        }
        .menu{
            display: block;
            z-index: 10;
            font-size:25px;
        }
        .nextLevel{
            padding:20px 0;
        }
        .header{
            position:absolute;
            top: 0px;
            width:100%;
            background-color: #055B05;
            padding:5px 0 7px;
            font-family: Arial, Helvetica, sans-serif;
            font-size:18px;
            color:white;
            cursor:default;
        }
        .head{
            position:absolute;
            top: 0px;
            width:100%;
            text-align: center;
            padding:5px 0px 7px;
            font-family: Arial, Helvetica, sans-serif;
            font-size:18px;
            color: #00541E;
            opacity:0;
            -webkit-transition: opacity 1s linear;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            transition:opacity 1s linear;
            cursor:default;
        }
        .head span{
            padding:5px 10px 7px;
        }
        .form{
            position:relative;
            display: inline-block;
            margin-top:10px;
        }
        .btn-menu .form{
            margin-top:20px;
            float:right;
        }
        .button{
            display: block;
            width:170px;
            margin: 20px 30px;
            padding:0 30px 4px;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 9px;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.8);
            background: #1B611C;
            background: -webkit-gradient(linear, left top, left bottom, from(#65B016), to(#1B611C));
            background: -moz-linear-gradient(top, #65B016, #1B611C);
            background: -o-linear-gradient(top,  #65B016,  #1B611C);
            background: -ms-linear-gradient(top,  #65B016,  #65B016);
            background: linear-gradient(to bottom, #65B016 0%, #1B611C 100%);
            font-size:25px;
            text-decoration:none;
            color:#FEFEFE;
        }
        .nextLevel .button{
            display: inline-block;
            line-height:1.2em;
            border-radius: 7px;
            width:155px;
            padding:0 7px 4px;
            margin: 15px 30px;
            font-size:22px;
        }
        .btn-menu .button{
            width:110px;
            margin: 12px 10px;
            padding:0 4px;
            border-radius: 6px;
            font-size:18px;
            text-align: center;
        }
        .button:active{
            -moz-transform: scale(0.97);
            -ms-transform: scale(0.97);
            -webkit-transform: scale(0.97);
            -o-transform: scale(0.97);
            transform:scale(0.97);
            text-decoration: none;
        }
        .newLevel{
            display: block;
        }
        @-webkit-keyframes fadeIn {
            0% {-webkit-transform: scale(0);opacity: 0.0;}
            60% {-webkit-transform: scale(1.2);}
            85% {-webkit-transform: scale(0.9);opacity: 1;}
            100% {-webkit-transform: scale(1);opacity: 1;}
        }
        @-moz-keyframes fadeIn {
            0% {
                -moz-transform: scale(0);
                opacity: 0.0;
            }
            60% {-moz-transform: scale(1.2);}
            85% {
                -moz-transform: scale(0.9);
                opacity: 1;
            }
            100% {
                -moz-transform: scale(1);
                opacity: 1;
            }
        }
        @-o-keyframes fadeIn {
            0% {
                -o-transform: scale(0);
                opacity: 0.0;
            }
            60% {-o-transform: scale(1.2);}
            85% {
                -o-transform: scale(0.9);
                opacity: 1;
            }
            100% {
                -o-transform: scale(1);
                opacity: 1;
            }
        }
        @keyframes fadeIn {
            0% {
                transform: scale(0);
                opacity: 0.0;
            }
            60% {transform: scale(1.2);}
            85% {
                transform: scale(0.9);
                opacity: 1;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
        @-webkit-keyframes opac{
            0%{opacity: 0; }
            100%{opacity: 1; }
        }
        @-moz-keyframes opac{
            0%{opacity: 0; }
            100%{opacity: 1; }
        }
        @-o-keyframes opac{
            0%{opacity: 0; }
            100%{opacity: 1; }
        }
        @keyframes opac{
            0%{opacity: 0; }
            100%{opacity: 1; }
        }
        .dd{
            position: absolute;
            border: 0px solid grey;
            border-radius: 9px;
            z-index: 1;
            -webkit-animation: opac 1s ease-in;
            -moz-animation: opac 1s ease-in;
            -o-animation: opac 1s ease-in;
            animation: opac 1s ease-in;
        }
        .pare{
            position: absolute;
            z-index: 2;
            margin-right: 5px;
            margin-bottom:5px;
            box-shadow: 3px 3px 5px black;
            background-size: auto 500px;
            background-position: -0px 0;
            cursor: pointer;
            -webkit-transition: -webkit-transform 0.5s, opacity 0.8s;
            -moz-transition: -moz-transform 0.5s, opacity 0.8s;
            -o-transition: -o-transform 0.5s, opacity 0.8s;
            transition: transform 0.5s, opacity 0.8s;
        }
        .scale{
            -webkit-animation:fadeIn 2s ease-in-out;
            -moz-animation:fadeIn 2s ease-in-out;
            -o-animation:fadeIn 2s ease-in-out;
            animation:fadeIn 2s ease-in-out;
            -webkit-animation-play-state: paused;
            -moz-animation-play-state: paused;
            -o-animation-play-state: paused;
            animation-play-state: paused;
            -webkit-transition: transform 0s, opacity 0s;;
            -moz-transition: transform 0s, opacity 0s;
            -o-transition: transform 0s, opacity 0s;
            transition: transform 0s, opacity 0s;
        }
        @-webkit-keyframes rot {
            from {-webkit-transform:scaleX(1);}
            to {-webkit-transform:scaleX(0);}
        }
        @-moz-keyframes rot {
            from {-moz-transform:scaleX(1);}
            to {-moz-transform:scaleX(0);}
        }
        @-o-keyframes rot {
            from {-o-transform:scale(1,1);}
            to {-o-transform:scale(1,1);}
        }
        @keyframes rot {
            from {transform:scale(1,1);}
            to {transform:scale(0,1);}
        }
        .rot{
            -webkit-animation:rot 0.25s ease-in-out 2 alternate;
            -moz-animation:rot 0.25s ease-in-out 2 alternate;
            -o-animation:rot 0.25s ease-in-out 2 alternate;
            animation:rot 0.25s ease-in-out 2 alternate;
            -webkit-transition: background-position 0.2s step-end;
            -moz-transition: background-position 0.2s step-end;
            -o-transition: background-position 0.2s step-end;
            transition: background-position 0.2s step-end;
        }
        .photo{
            background: url(../img/BB_sprites_ph2.png) no-repeat;
        }
        .bottle{
            background: url(../img/BB_sprites2.png) no-repeat;
        }
        .sq{
            border-radius: 7px;
        }
        .rd{
            border-radius: 50%;
        }
        .cross{
            position:fixed;
            top:7px;
            right:7px;
            z-index:3;
            margin:0;
            cursor: pointer;
            font-size:30px;
            line-height:0.5em;
            font-weight:bolder;
            color:#00541E;
        }
        .check{
            display:none;
        }
        .btn-menu{
            position:fixed;
            width:100%;
            height: 100%;
            right:-110%;
            z-index:2;
            -webkit-transition: right .3s ease-out;
            -moz-transition: right .3s ease-out;
            -o-transition: right .3s ease-out;
            transition: right .3s ease-out;
        }
        .check:checked ~.btn-menu{
            right:0;
        }
        .timer-container {
            position: fixed;
            top: 5px;
            left: 5px;
            width: 30px;
            height: 30px;
            background: #BDE2E0;
            border-radius: 50%;
            border: 7px solid #D7695A;
            box-shadow: inset 0 0 5px rgba(0,0,0,.5);
            color: white;
            text-align: center;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            padding:5px;
            overflow: hidden;
            -webkit-transition: opacity 1s linear;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            transition:opacity 1s linear;
            z-index:3;
        }
        @-webkit-keyframes load {
            100% {-webkit-transform: translateY(-180px);}
        }
        @-moz-keyframes load {
            100% {-moz-transform: translateY(-180px);}
        }
        @-o-keyframes load {
            100% {-o-transform: translateY(-180px);}
        }
        @keyframes load {
            100% {transform: translateY(-180px);}
        }
        .timer{
            -webkit-animation: load 6s steps(6, end);
            -webkit-animation-delay:2s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation: load 6s steps(6, end);
            -moz-animation-delay:2s;
            -moz-animation-fill-mode: forwards;
            -o-animation: load 6s steps(6, end);
            -o-animation-delay:2s;
            -o-animation-fill-mode: forwards;
            animation: load 6s steps(6, end);
            animation-delay:2s;
            animation-fill-mode: forwards;
            cursor:default;
        }
#preloadedImages {
        width: 0px;
        height: 0px;
        display: inline;
        background-image: url(img/BB_sprites2.png);
        background-image: url(img/BB_sprites_ph2.png);
 }
